<h1>Crear Item</h1>

<form action="/create" method="POST">
    <label>Título:</label>
    <input type="text" name="title" required>

    <label>Cuerpo:</label>
    <textarea name="body"></textarea>

    <button>Guardar</button>
</form>
